.body{
    margin: 0%;
    padding: 0%;
}

.navi{
    display: flex;
    background: #fff;
}

.navi>h3{
font-size: 170%;
color: blue;
margin-left: 5%;}

.navi>h4{
    font-size: 145%;
}

.navi>ul{
    display: flex;
    text-decoration: none;
    font-style: normal;
    list-style-type: none;
    
}

.navi>ul>li{
    margin: 5% 1% 1% 5%;
}

.navi>ul>li>a{
    color: #212121;
    size: 14px;
    text-decoration: none;
}
.navi>ul>li>a:hover{
    color: #2196F3;
}

.con{
    width: 1330px;
    height: 250px;
    background: #2F303A;
}

.con>h2{
    color: #fff;
    font-size: 30px;
    font-style: normal;
    text-transform: uppercase;
    position: absolute;
    top: 25%;
    left: 25%;
}

.con>button{
    position: absolute;
    top: 40%;
    left: 48%;
    width: 15%;
    height: 10%;
    border-radius: 5%;
    border: #2196F3;
    background: #2196F3;
}

.con>button>p{
    color: #fff;
    position: absolute;
    top: 0%;
    left: 15%;
    font-size: 20px;
}

.info{
    width: 13350px;
    height: auto;
}

.info>ul{
    position: absolute;
    display: flex;
    list-style-type: none;
}    
.info>ul>li{
    text-decoration: none;
}

.info>ul>li>h3{
    font-size: 16px;
    color: #212121;
}
.info>ul>li>hr{
    width: 90%;
}

.info>ul>li>p{
 font-size: 14px;
 color: #757575;
}

.work{
    width: 1330px;
    height: auto;
}

.work>h1{
margin-top: 15%;
text-align: center;
}

.work>img{
width: 25%;
height: auto;
border-radius: 5%;
margin: 0% 5% 0% 3%;
}

.com{
    width: 1350px;
    background: #F5F4FA;
}
.com>h1{
    font-size: 36px;
    text-align: center;
}

.com>ul{
    display: flex;

}
.com>ul>li{
    text-decoration: none;
    list-style-type: none;    
}

.com>ul>li>img{
    width: 70%;
    border-radius: 3%;
    margin: 5% % % 0%;
}
.com>ul>li>h3{
    font-size: 16px;
}

.com>ul>li>p{
    font-size: 16px;
    color: #757575;
}

.footer{
    width: 1335px;
    height: 150px;
    background: #2F303A;
    position: absolute;
    top: 240%;
    display: flex;

}
.footer>h3{
    color: #2196F3;
    font-size: 145%;
    margin-left: 5%;
}

.footer>h4{
    font-size: 145%;
    margin: 2% 0% 0% 0%;
    color: #fff;
}

.footer>a{
    color: #fff;
    position: absolute;
    top: 20%;
    left: 15%;
    text-decoration: none;
}

.footer>ul>li{
    text-decoration: none;
    list-style-type: none;
    margin-top: 30%;
    margin-right: 50%;
}

.footer>ul>li>a{
    color: #FFFFFF99;
    text-decoration: none;
}

.footer>ul>li>a:hover{
    color: #2196F3;
}